<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Website{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-d5HOsWkgnHbl5sdpTd9CW+nafuR5f6q8wP6P3/NH+sfG+6x05mZn2QK+fjUSl+g0dVwP7BInDGXArHJYnkPSow==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{% static 'main_page/styles-sidebar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main_page/custom-styles.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="navbar">
        <div class="sidebar">
            <a href="{% url 'home' %}"><img src="{% static 'images/home.png' %}" alt="Начальная страница"> Начальная страница</a>
            <a href="{% url 'students' %}"><img src="{% static 'images/students.png' %}" alt="Список"> Список</a>
            <a href="{% url 'diagrams' %}"><img src="{% static 'images/diagrams.png' %}" alt="Успеваемость"> Успеваемость</a>
            <a href="{% url 'notes_list' %}"><img src="{% static 'images/notes.png' %}" alt="Мои заметки"> Мои заметки</a>
        </div>
        <div class="auth-links">
            {% if user.is_authenticated %}
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="logout-button">Выйти</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Войти</a>
                <a href="{% url 'signup' %}">Зарегистрироваться</a>
            {% endif %}
        </div>
    </div>
    <div class="main-content">
        {% block content %}{% endblock %}
    </div>
    {% block extra_js %}{% endblock %}
</body>
</html>