<!-- main_page/templates/main_page/registration.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-d5HOsWkgnHbl5sdpTd9CW+nafuR5f6q8wP6P3/NH+sfG+6x05mZn2QK+fjUSl+g0dVwP7BInDGXArHJYnkPSow==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{% static 'main_page/custom-styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main_page/custom-registrate.css' %}">
</head>
<body>
    <div class="registration-container">
        <h2>Регистрация</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="form-group">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <div class="form-group">
                {{ form.password_confirm.label_tag }}
                {{ form.password_confirm }}
            </div>
            <div class="form-group">
                {{ form.role.label_tag }}
                {{ form.role }}
            </div>
            <button type="submit">Зарегистрироваться</button>
        </form>
    </div>
</body>
</html>
