/* main_page/static/main_page/custom-styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #007bff; /* синий цвет фона */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    color: #fff; /* белый текст */
    text-align: center; /* выравнивание по центру */
}

.login-container h2 {
    margin-bottom: 20px;
    color: #fff; /* белый текст заголовка */
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container form .form-group {
    margin-bottom: 15px;
}

.login-container form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.login-container form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.login-container form button {
    padding: 10px;
    background-color: #fff; /* белый цвет кнопки */
    color: #007bff; /* синий текст кнопки */
    border: 1px solid #007bff; /* синяя рамка */
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.login-container form button:hover {
    background-color: #0056b3; /* темно-синий при наведении */
    color: #fff; /* белый текст при наведении */
}

