body {
    font-family: Arial, sans-serif;
    }
    
    .sidebar {
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 10px;
    }
    
    .sidebar a {
    padding: 20px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    margin-bottom: 10px; /* Добавление отступа между элементами меню */
    }
    
    .sidebar a:hover {
        background-color: #575757;
    }
    
    .main-content {
    margin-left: 300px; /* Same as the width of the sidebar */
    padding: 15px;
    }
    
    .fa {
    margin-right: 20px;
    }

    